$bgColor: #fff9ff;
$funcButton_color: #ff5341;
$buttonColor: #820083;
$fontColor: #a43ea4;
$whiteColor: #ffffff;
$mainGradientColor: linear-gradient(90deg, #d05cfd 0%, #ff5145 100%);
$containerBorderColor: #f7e1ff;
$cardGradeintColor: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0) 0.52%, #c69cd5 100%);
$secondaryFontColor: rgba(128, 0, 128, 0.5);

$categories: (
    travel: #8da0d1,
    healthAndBeauty: #ff0000,
    movie: #800080,
    sportAndFitness: #00ca8d,
    music: #0BB8AD,
    concert: #001d82,
    comedy: #ffa500,
    party: #5200ff,
    theater: #823e00,
    test: black
);
