$bgColor: #FFF9FF;
$funcButton_color: #FF5341;
$buttonColor: #820083;
$fontColor: #A43EA4;
$whiteColor: #FFFFFF;
$mainGradientColor: linear-gradient(90deg, #D05CFD 0%, #FF5145 100%);
$containerBorderColor: #F7E1FF;
$cardGradeintColor: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0) 0.52%, #C69CD5 100%); 
