.main-block {
    min-height: 729px;
    &__container {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        @include adaptiveValue("gap", 24, 12);
        background: white;
        border: 0.5px solid $containerBorderColor;
        border-radius: 24px;

        @include adaptiveValue("margin-top", 128, 64);
    }

    &__body {
        z-index: 5;
        display: flex;
        flex-direction: column;
        gap: rem(24);
        width: 100%;
    }

    &__info {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        width: 100%;
    }
    &__title {
        @include title();
    }

    &__subtitle {
        @include subtitle();
    }

    &__buttons {
        @include adaptiveValue(" padding-top", 12, 0);
    }

    &__button:visited,
    &__button {
        max-height: rem(80);
        display: flex;
        align-items: center;
        width: fit-content;
        @include adaptiveValue("font-size", 16, 14);
        padding: rem(12) rem(24);
        font-weight: 500;
        background-color: $buttonColor;
        text-decoration: none;
        color: white;
        border-radius: 12px;
    }
    &__upper {
        @include adaptiveValue("gap",60, 24);
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width:$mobile) {
            flex-wrap: wrap;
            
        }
    }
    

}
