.date-picker {
    width: 100%;
    text-align: center;
    color: $fontColor;
    font-size: rem(16);
    padding: 7px;
    &::-webkit-input-placeholder {
        font-family: "Inter", "sans-serif";
        font-size: rem(16);
        text-align: center;
        vertical-align: center;
        color: $fontColor;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.air-datepicker.-is-mobile-.-active-:not(.-custom-position-) {
    border-radius: 12px;
}
.air-datepicker-button {
    color: $buttonColor !important;
}

.air-datepicker-cell.-current- {
    color: $funcButton_color !important;
}

.air-datepicker.-is-mobile- * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.air-datepicker-cell.-selected- {
    color: #fff;
    border: none;
    background: $funcButton_color !important;
}
.air-datepicker-cell.-in-range- {
    background: $containerBorderColor !important;
    border-radius: 0;
}
.air-datepicker-cell.-range-from-,
.air-datepicker-cell.-range-to- {
    border: 1px solid $buttonColor !important;
    background-color: $containerBorderColor !important;
    border-radius: 0 var(--adp-cell-border-radius) var(--adp-cell-border-radius) 0;
}
