.vs-filter {
    .vscomp-toggle-button {
        border: none;
        background-color: transparent;
        justify-content: center;
    }
    .vscomp-ele-wrapper {
        height: 100%;
    }
    .vscomp-arrow {
        position: relative;
    }
    .vscomp-arrow::after {
        height: rem(12);
        width: rem(12);
        border-bottom-color: $fontColor;
        border-right-color: $fontColor;
        opacity: 0.5;
    }
    .vscomp-wrapper,
    .vscomp-value {
        font-size: rem(16);
        font-weight: 500;
        color: $fontColor;
    }
    .vscomp-wrapper:not(.has-value) .vscomp-value {
        opacity: 1;
    }
    .vscomp-clear-button {
        right: rem(-12);
        background: white;
        border: 1px solid $funcButton_color;
    }
    .vscomp-clear-icon::before,
    .vscomp-clear-icon::after {
        background-color: $funcButton_color;
        content: "";
        height: 12px;
        left: 5px;
        position: absolute;
        top: 0;
        width: 1px;
    }
    .vscomp-clear-button:hover {
        background: #ccc;
    }
    .vscomp-clear-icon:hover::before,
    .vscomp-clear-icon:hover::after,
    .vscomp-clear-button:hover .vscomp-clear-icon::before,
    .vscomp-clear-button:hover .vscomp-clear-icon::after {
        background-color: $funcButton_color;
    }
    .vscomp-clear-button:hover,
    .vscomp-clear-button:hover {
        background-color: $bgColor;
    }
    .vscomp-dropbox {
        padding: 16px;
    }
    .vscomp-dropbox,
    .pop-comp-wrapper {
        border-radius: 12px;
        color: $fontColor;
    }
    .vscomp-wrapper .checkbox-icon::after {
        border-radius: 100%;
        border: 2px solid $fontColor;
    }
    .vscomp-wrapper .checkbox-icon.checked::after,
    .vscomp-wrapper.multiple .vscomp-option.selected .checkbox-icon::after {
        border-radius: 0%;
        border-color: $funcButton_color;
        border-left-color: rgba(0, 0, 0, 0);
        border-top-color: rgba(0, 0, 0, 0);
    }
    .vscomp-search-input {
        &::placeholder {
            color: $secondaryFontColor;
            font-size: rem(16);
            font-weight: 500;
        }
    }
    .vscomp-option.focused {
        .checkbox-icon::after {
            border: 2px solid $funcButton_color;
        }
        background-color: transparent;
        color: $funcButton_color;
    }
    .vscomp-option.selected {
        background-color: transparent;
    }

    .vscomp-search-container {
        margin-bottom: 12px;
        background-color: $bgColor;
        border: 1px solid $containerBorderColor;
        border-radius: 12px;
    }
    .vscomp-wrapper.focused .vscomp-toggle-button,
    .vscomp-wrapper:focus .vscomp-toggle-button {
        box-shadow: none;
    }
    .vscomp-wrapper.has-clear-button .vscomp-toggle-button {
        padding-right: 15px;
    }
    .vscomp-toggle-button {
        padding: rem(7) rem(24);
        gap: rem(12);
    }
}

.filters {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    gap: rem(24);

    &__item {
        color: white;
        display: flex;
        width: 100%;
        max-width: rem(250);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: rem(12);
        position: relative;
        height: rem(60);
        background: white;
        border: 1px solid $fontColor;
        border-radius: 12px;

        &._reset {
            border: 1px solid $funcButton_color;
            color: $funcButton_color;
            font-size: rem(16);
            font-weight: 500;
            max-width: fit-content;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: rem(12) rem(24);
            & > span {
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        &._when-filter .date-picker {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &_filled {
            background-color: $buttonColor;
            .vscomp-arrow::after,
            .vscomp-wrapper,
            .vscomp-value {
                font-weight: 500;
                color: white;
                border-bottom-color: white;
                border-right-color: white;
            }
        }
    }
    @media (max-width: rem(630)) {
        .vscomp-ele,
        &__item,
        &._other-filter {
            min-width: none;
            max-width: none;
            width: 100%;
        }
    }
}
