@import "_base";
@import "_mixins";

.header {
    background-color: $whiteColor;
    z-index: 999;
    &__container {
        display: flex;
        @include adaptiveValue("gap", 32, 12);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: rem(16);
        text-align: center;
    }

    &__logo {
        position: relative;
        z-index: 5;
    }
    &__menu {
        @media (max-width: $tablet) {
            .menu__list > ._hidden {
                display: block;
            }
            position: fixed;
            top: 0;
            right: -100%;
            height: 100%;
            transition: right 0.3s ease 0s;
            display: flex;
            justify-content: end;
            .menu__list {
                flex-direction: column;
                align-items: start;
                padding: rem(120) rem(30) rem(30) rem(30);
                background-color: white;
            }
            &._active {
                right: 0%;
            }
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
            .menu__list {
                width: 100%;
            }
        }
        @media (max-width: $mobileXSmall) {
            .menu__link {
                font-size: 0.9rem;
            }
        }
    }

    &__profile img {
        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__image {
    }
}
.menu {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include adaptiveValue("gap", 64, 24, 1920, 1090, 1);
        padding: 0px rem(12) 0px rem(12);
    }

    &__item {
        ::before {
            margin-right: rem(8);
        }
    }

    &__link {
        font-size: rem(20);
        font-weight: 500;
        color: $fontColor;
    }
}

.header__image_adaptive {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.header {
    &__search {
        @media (max-width: $tablet) {
            display: block;
        }
    }
}

//Бургер
.header__menu-icon {
    display: none;
    @media (max-width: $tablet) {
        display: block;
        z-index: 5;
        position: relative;
        width: rem(30);
        height: rem(18);
        cursor: pointer;
        span,
        &::before,
        &::after {
            content: "";
            left: 0;
            position: absolute;
            height: rem(2);
            width: 100%;
            transition: all 0.3s ease 0s;
            background-color: $fontColor;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - rem(1));
        }
    }

    &._active span {
        transform: scale(0) translate(0px, 50%);
    }
    &._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    &._active::after {
        transform: scale(0) translate(0px, 50%);
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
}
