@font-face {
    font-family: "icons";
    src: url("../fonts/icons.ttf");
}

%icon {
    font-family: "icons" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"] {
    &:before {
        @extend %icon;
        display: inline-block;
    }
}

._icon-arrow:before {
    content: "\e900";
}
._icon-burger-menu:before {
    content: "\e901";
}
._icon-calendar:before {
    font-size: 20px;
    content: "\e902";
}
._icon-checkmark:before {
    content: "\e903";
}
._icon-city:before {
    content: "\e904";
}
._icon-exit:before {
    content: "\e905";
}
._icon-filter:before {
    content: "\e906";
}
._icon-fire:before {
    content: "\e907";
}
._icon-geo:before {
    font-size: 24px;
    content: "\e908";
}
._icon-heart-filled:before {
    content: "\e909";
}
._icon-heart:before {
    content: "\e90a";
}
._icon-map:before {
    content: "\e90b";
}
._icon-message:before {
    font-size: 16px;
    content: "\e90c";
}
._icon-pencil-fill:before {
    content: "\e90d";
}
._icon-plus:before {
    content: "\e90e";
}
._icon-profile:before {
    content: "\e90f";
}
._icon-rublesignsquare:before {
    content: "\e910";
}
._icon-ticket:before {
    font-size: 16px;
    content: "\e911";
}
._icon-upc-scan:before {
    content: "\e912";
}
._icon-location-pin:before {
    content: "\e948";
}
