.main {
    flex: 1 1 auto;
    padding: rem(26);
}

.search-main__filters {
    margin-top: rem(48);
    max-width: 400px;
}

.select-btn {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    border-radius: 12px;
    cursor: pointer;
    background-color: $whiteColor;
    border: 1px solid $fontColor;
    width: 100%;
    gap: 12px;
    ._icon-arrow {
        transition: 0.3s;
        transform: rotate(-90deg);
        opacity: 50%;
    }
    color: $fontColor;
    font-weight: 500;

    &._open ~ .list-items {
        display: flex;
    }
    &._open > ._icon-arrow {
        transition: 0.3s;
        transform: rotate(90deg);
        opacity: 100%;
    }
}

.checkbox {
    display: block;
    height: 20px;
    width: 20px;
    background-color: $bgColor;
    border: 1px solid $fontColor;
    border-radius: 6px;
}
.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    color: $fontColor;
    font-weight: 500;
}

._checked::before {
    content: "";
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    background-color: $fontColor;
    margin: 0;
}

.list-items {
    display: flex;
    background-color: white;
    border-radius: 12px;
    margin-top: 16px;
    border: 1px solid $fontColor;
    padding: 16px;
    flex-direction: column;
    gap: 12px;
    display: none;
}

.search {
    &__form {
    }

    &__button {
    }

    &__input {
    }
}

.filters {
    &__item {
    }
}

.search-main {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("gap", 24, 12);
    .search__input {
        width: 100%;
        height: rem(40);
    }
    .search__button {
        height: 100%;
    }
}

.search-result {
    height: auto;
    &__upper {
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(12);
        @media (max-width:$mobile) {
            align-items: flex-start;
            flex-direction: column;
        }
    }
    &__text {
        @include subtitle();
    }

    &__sort {
        display: flex;
        gap: rem(24);
        align-items: center;
    }

    &__sort-button {
    }

    &.slider-area {
        position: relative;
        transition: top 0.3s ease-in-out, height 0.3s ease-in-out, top 1s ease-in-out, height 1s ease-in;
    }
    .swiper-slide {
        @include transition-all(0.5s, ease-in-out);
        &-prev,
        &-next {
            pointer-events: none;
            opacity: 0.5;
        }
        width: 80%;
    }
}

.search-result_hidden {
    top: -500px;
}
@include slider("upcoming-events");
@include slider("search-result");
@include slider("near-events");

.near-events {
    &__main {
        display: flex;
        justify-content: space-between;
        gap: rem(24);
        @media (max-width: rem(1200)) {
            flex-direction: column;
        }
    }

    &__map {
        border-radius: 12px;
        width: 100%;
        min-height: rem(500);
    }

    &__slider {
        width: 100%;
        overflow: hidden;
        position: relative;
        transition: top 0.3s ease-in-out, height 0.3s ease-in-out, top 1s ease-in-out, height 1s ease-in;
        @include adaptiveValue('height',700,300);
    }
    .swiper-slide {
        width: 95%;
        @include adaptiveValue("max-height", 300, 550);
    }
    .slide-card {
        &__title {
            overflow-wrap: break-word;
            @include adaptiveValue("font-size", 28, 16);
        }
        &__date {
        }
    }

    &__below {
    }

    &__show-categories-toggle {
    }

    &__categories {
    }
}

.broadcast {
    width: 100%;
    min-height: fit-content;
    display: flex;
    gap: rem(24);
    @media (max-width: $tablet) {
        flex-direction: column;
    }
    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(12);
        width: 100%;
    }
    &__right{
        display: flex;
        flex-direction: column;
        gap: rem(24);
    }

    &__spoller {
        display: flex;
        flex-direction: column;
        gap: rem(12);
        width: 100%;
        height: fit-content;
        border-radius: 0 rem(12) rem(12) 0;
        align-self: stretch;
    }

    &__spoller._spoller-init &__count::after {
        transform: rotate(-90deg);
    }
    &__spoller._spoller-init &__title._spoller-active &__count::after {
        transform: rotate(90deg);
    }

    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: rem(16);
        gap: rem(16);

        width: 100%;
        min-height: rem(50);

        background-color: $bgColor;
        border-left: 1px solid $fontColor;
        border-radius: 0 rem(12) rem(12) 0;
    }
    &__title._spoller-active {
        transition: border-radius 0.3s ease-in-out;
        border-radius: 0 rem(12) 0 0;
    }
    &__count,
    &__category {
        line-height: rem(20);
        color: $fontColor;
        font-size: rem(16);
        font-weight: 600;
    }
    &__count::after,
    &__count {
        transition: transform 0.3s ease 0s;
        display: flex;
        gap: rem(16);
        opacity: 0.5;
    }

    &__items {
        display: flex;
        flex-direction: column;
        padding: rem(16);
        gap: rem(12);
        width: 100%;
        height: fit-content;
        background-color: $bgColor;
        border-radius: 0 0 rem(12) rem(12);
        border-top: 1px solid rgba(247, 225, 255, 0.9);
    }

    &__item {
        text-align: start;
        min-height: rem(40);
        max-width: fit-content;
        border-radius: 8px;
        background-color: $buttonColor;
        padding: rem(12) rem(24);
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: rem(16);
        font-weight: 600;
        line-height: rem(16);
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: rem(12);
        width: 100%;
        padding: rem(24);
        background-color: $fontColor;
        border-radius: rem(12);
    }
    &__heading-additionals,
    &__heading {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @include adaptiveValue("gap",48, 24);
        width: fit-content;
    }
    &__heading{
        @media (max-width:$mobileXSSmall) {
        flex-direction: column;
        gap: rem(12);
    }
    }

    &__heading-title {
        font-weight: 500;
        font-size: rem(24);
        color: white;
    }

    &__heading-additional {
        font-size: rem(14);
        color: white;
        list-style-type: disc;
        opacity: 0.5;
    }

    &__text {
        @include adaptiveValue('font-size',20,14);
        @include adaptiveValue('line-height',30,20);
        @include adaptiveValue('max-height',180,60);
        overflow-y: auto;
        color: white;
        opacity: 0.8;
    }
    &__video {
        position: relative;
        padding: 0px 0px 80% 0px;
        video{
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
    }
}


.recommendations {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    min-height: rem(1300);

    &__categories {
        display: flex;
        flex-wrap: wrap;
        gap: rem(24);
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(650), 1fr));
        grid-auto-rows: auto;
        gap: rem(24);
        min-height: inherit;
        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .slide-card {
        width: 100%;
        &__link {
            @include adaptiveValue('min-height',300, 150);
        }
    }
}