::-webkit-scrollbar {
    border-radius: 6px;
    color: $cardGradeintColor;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: $containerBorderColor;
    border-radius: 6px; /* цвет полосы прокрутки */
}

/* Для горизонтального скролла */
::-webkit-scrollbar-horizontal {
    height: 10px; /* высота полосы прокрутки */
    background-color: #f5f5f5; /* цвет фона полосы прокрутки */
}

::-webkit-scrollbar-thumb-horizontal {
    background-color: #000; /* цвет полосы прокрутки */
}
