.slide-card {
    background-color: $bgColor;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    &__link {
        height: 100%;
    }
    &__image {
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        min-height: 100%;
        img {
            border-radius: 12px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
    }
    &__img-blackout {
        height: 100%;

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 50%;
            z-index: 1;
        }
        &::after {
            z-index: 0;
            bottom: 0;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        }
        &::before {
            z-index: 0;
            top: 0;
            background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        }
    }
    &__geo {
        font-size: rem(16);
        @include adaptiveValue("font-size", 16, 12);
        line-height: rem(20);
        &:after {
            margin-left: rem(6);
        }
    }

    &__price {
        @include adaptiveValue("font-size", 24, 16);
    }
    &__buy-button,
    &__buy-button:visited {
        padding: rem(8) rem(22) rem(8) rem(22);
        @include adaptiveValue("font-size", 16, 14);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        color: white;
        border-radius: 8px;
        width: fit-content;
        background: rgba(128, 0, 128, 0.5);
        @include transition-all;
        &:hover {
            background: rgba(128, 0, 128, 1);
        }
    }
    &__fav-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
        box-shadow: none;
        text-decoration: none;
        color: white;
        padding: rem(6) rem(12);
        border-radius: 8px;
        width: rem(44);
        height: rem(31.1);
        @include transition-all;
        background: rgba(255, 0, 0, 0.5);
        &:hover {
            background: rgba(255, 0, 0, 1);
        }
    }
    &__title {
        position: absolute;
        bottom: rem(30);
        left: rem(30);
        @include adaptiveValue("font-size", 48, 16);
        font-weight: 500;
        color: white;
    }

    &__functions-right {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: rem(30);
        right: rem(30);
        display: flex;
        gap: 12px;
        color: white;
    }
    &__functions-right-up,
    &__functions-right-down {
        display: flex;
        justify-content: space-between;
        gap: rem(12);
    }

    &__rating {
        position: absolute;
        top: rem(30);
        right: rem(30);
        display: flex;
        flex-direction: column;
        align-items: end;
        width: fit-content;
        height: rem(92);
        gap: rem(10);
        @include transition-all();
        &:hover {
            transform: scale(1.01g);
            .slide-card__rating-desc {
                opacity: 1;
            }
        }
    }
    &__rating-score {
        font-weight: 500;
        @include adaptiveValue("font-size", 48, 20);
        @include adaptiveValue("line-height", 58, 29);
        color: green;
        background-color: white;
        @include adaptiveValue("padding", 12, 8);
        border-radius: 16px;
    }

    &__rating-desc {
        font-weight: 500;
        @include adaptiveValue("font-size", 20, 12);
        line-height: rem(24);
        color: white;
        opacity: 0.5;
        @include transition-all;
    }

    &__info-left {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 30px;
        left: 30px;
        display: flex;
        gap: rem(12);
        color: white;
    }

    &__date {
        @include adaptiveValue("font-size", 20, 14);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: rem(6);
        padding: rem(8) rem(16);
        background-color: white;
        color: $buttonColor;
        text-align: center;
        border-radius: 12px;
        width: fit-content;
        height: rem(40);
        font-weight: 600;
        border: 1px solid $containerBorderColor;
    }

    @media (max-width: $mobile) {
        &__img-blackout:after,
        &__img-blackout:before {
            display: none;
        }
        gap: rem(12);
        padding: rem(16);
        &__functions-right {
            left: 0;
            bottom: 0;
            position: relative;
            align-items: flex-end;
        }
        &__functions-right {
            color: $fontColor;
        }

        &__title {
            position: relative;
            left: 0;
            bottom: 0;
            color: $fontColor;
        }
        &__info-left {
            position: relative;
            top: 0;
            left: 0;
        }
        &__day:before {
            display: none;
        }
        &__rating {
            right: 0;
            left: rem(30);
            width: fit-content;
            align-items: start;
        }
    }
    @media (max-width: $mobileXSmall) {
        gap: rem(12);
        padding: rem(8);
        .slide-card__functions-right {
            align-items: flex-start;
            &-down {
                width: 100%;
                align-items: center;
            }
        }
    }
}
