@import "_slider-card";
%slider-setup {
    .swiper-button-next,
    .swiper-button-prev {
        width: fit-content;
        height: fit-content;
        &::after {
            display: none;
        }
    }

    .swiper-button {
        &-prev {
            transform: rotate(180deg);
            left: var(--swiper-navigation-sides-offset, -25px);
        }
        &-next {
            right: var(--swiper-navigation-sides-offset, -25px);
        }
        @media (max-width: $tablet) {
            &-prev img,
            &-next img {
                display: none;
            }
        }
    }
    .upcoming-events__slider-btn {
        @media (max-width: $mobileXSmall) {
            &-next,
            &-prev {
                top: var(--swiper-navigation-top-offset, 33%);
            }
        }
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        z-index: -1;
        bottom: var(--swiper-pagination-bottom, -25px);
    }
    .swiper-free-mode> .swiper-wrapper_linear {
        transition-timing-function: linear;
        margin: 0 auto;
    }

    .swiper-pagination-bullet-active,
    .swiper-pagination-bullet {
        background-color: $funcButton_color;
    }
}
