@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap&subset=cyrillic-ext");

@import "_mixins";

@import "_icons";
@import "_normalize";
@import "_reset";
@import "_colors";


// Минимальная ширина полотна
$minWidth: 320;

// Максимальная ширина полотна
$maxWidth: 1920;

// Ширина ограничивающего контейнера
$maxWidthContainer: 1408;

// Общий отступ у контейнера
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(1091.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
$mobileXSmall: em(339.98); // Телефоны XS
$mobileXSSmall: em(279.98); // ??

body {
    font-family: "Inter", "sans-serif";
    font-size: rem(20);
    background-color: $bgColor;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1408px;
    margin: 0px auto;
}

[class*="_hidden"] {
    display: none;
}

@import "_categories";
@import "_header";
@import "_main";
@import "_block";
@import "_datepicker";
@import "_slider";
@import "_search";
@import "_scroll";
@import "_filters";

@import "_footer";
