.near-events {
    @extend %slider-setup;
    &__main {
        display: flex;
        justify-content: space-between;
        gap: rem(24);
        @media (max-width: rem(1200)) {
            flex-direction: column;
        }
    }

    &__map {
        border-radius: 12px;
        width: 100%;
        min-height: 300px !important;
    }

    &__slider {
        max-height: rem(500);
        overflow: hidden;
        width: 97%;
    }
    .swiper{
        margin: 0;
    }
    .slide-card {
        &__title {
            overflow-wrap: break-word;
            @include adaptiveValue("font-size", 28, 16);
        }
        &__date {
        }
    }
}