%slider-setup {
    [class*="_slider-area"] {
        min-width: 50%;
        position: relative;
    }

    .swiper-scrollbar {
        cursor: pointer;
        transition: all 0.1s ease-in !important;
        --swiper-scrollbar-left: 99.5%;

        &:hover {
            width: 10px;
            background: #c69cd5;
        }

        &-drag {
            left: -50%;
            width: 200% !important;
            background-color: $fontColor !important;
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: fit-content;
        height: fit-content;
        &::after {
            display: none;
        }
        transition: scale 0.1s ease-in;
        &:hover{
            scale: 1.1;
        }
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        pointer-events: all;
    }
    .swiper-button {
        z-index: 5;
        &-prev {
            z-index: 1;
            transform: rotate(180deg);
            left: var(--swiper-navigation-sides-offset, rem(-25));
        }
        &-next {
            z-index: 1;
            right: var(--swiper-navigation-sides-offset, rem(-25));
        }
        @media (max-width: $tablet) {
            &-prev img,
            &-next img {
                display: none;
            }
        }
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        z-index: 1;
        bottom: var(--swiper-pagination-bottom, -50px);
    }
    .swiper-free-mode > .swiper-wrapper_linear {
        transition-timing-function: linear;
        margin: 0 auto;
    }

    .swiper-pagination-bullet-active,
    .swiper-pagination-bullet {
        background-color: $funcButton_color;
    }
}
