.slide-card {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    position: relative;
    &__link {
        position: relative;
        background-color: black;
        border-radius: rem(12);
        background-repeat: no-repeat;
        background-position: center;
        backdrop-filter: brightness(0);
    }
    &__image {
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        img {
            display: block;
            border-radius: 12px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.9);
        }
    }

    &__geo {
        font-size: rem(16);
        @include adaptiveValue("font-size", 16, 12);
        line-height: rem(20);
        &:after {
            margin-left: rem(6);
        }
    }

    &__price {
        @include adaptiveValue("font-size", 24, 16);
    }
    &__buy-button,
    &__buy-button:visited {
        padding: rem(8) rem(22) rem(8) rem(22);
        @include adaptiveValue("font-size", 16, 14);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        color: white;
        border-radius: 8px;
        width: fit-content;
        background: rgba(128, 0, 128, 0.5);
        @include transition-all;
        &:hover {
            background: rgba(128, 0, 128, 1);
        }
    }
    &__fav-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
        box-shadow: none;
        text-decoration: none;
        color: white;
        padding: rem(6) rem(12);
        border-radius: 8px;
        width: rem(44);
        height: rem(31.1);
        @include transition-all;
        background: rgba(255, 0, 0, 0.5);
        &:hover {
            background: rgba(255, 0, 0, 1);
        }
    }
    &__title {
        z-index: 2;
        position: absolute;
        bottom: rem(30);
        left: rem(30);
        @include adaptiveValue("font-size", 48, 16);
        font-weight: 500;
        color: white;
        max-width: 370px;
        line-height: normal;
        max-height: max-content;
        overflow: hidden;
    }

    &__functions-right {
        z-index: 2;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: rem(30);
        right: rem(30);
        gap: 12px;
        color: white;
        &-up,
        &-down {
            display: flex;
            justify-content: space-between;
            gap: rem(12);
        }
    }

    &__rating {
        z-index: 2;
        position: absolute;
        top: rem(30);
        right: rem(30);
        display: flex;
        flex-direction: column;
        align-items: end;
        width: fit-content;
        height: rem(92);
        gap: rem(10);
        @include transition-all();
        &:hover {
            transform: scale(1.01);
            .slide-card__rating-desc {
                opacity: 1;
            }
        }
    }
    &__rating-score {
        font-weight: 500;
        @include adaptiveValue("font-size", 24, 12);
        @include adaptiveValue("line-height", 29, 15);
        color: green;
        background-color: white;
        @include adaptiveValue("padding", 12, 6);
        @include adaptiveValue("border-radius", 14, 4);
    }

    &__rating-desc {
        font-weight: 500;
        @include adaptiveValue("font-size", 16, 12);
        line-height: rem(24);
        color: white;
        opacity: 0.5;
        @include transition-all;
    }

    &__info-left {
        z-index: 2;
        display: flex;
        flex-direction: row;
        position: absolute;
        top: rem(30);
        left: rem(30);
        gap: rem(12);
        color: white;
        align-items: center;
    }

    &__date {
        @include adaptiveValue("font-size", 16, 12);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: rem(3);
        padding: rem(8) rem(16);
        background-color: white;
        color: $buttonColor;
        text-align: center;
        border-radius: 12px;
        width: fit-content;
        height: rem(40);
        ::before{
            font-size: rem(14);
            margin-right: rem(6);
        }
        font-weight: 600;
        border: 1px solid $containerBorderColor;
    }

    @media (max-width: $mobile) {
        gap: rem(12);
        padding: rem(16);
        border: 1px solid $containerBorderColor;
        border-radius: rem(12);
        &__functions-right {
            left: 0;
            bottom: 0;
            position: relative;
            align-items: flex-end;
        }
        &__functions-right {
            color: $fontColor;
        }

        &__title {
            position: relative;
            left: 0;
            bottom: 0;
            color: $fontColor;
        }
        &__info-left {
            position: relative;
            top: 0;
            left: 0;
        }
        &__day:before {
            display: none;
        }
        &__rating {
            right: 0;
            left: rem(30);
            width: fit-content;
            align-items: start;
        }
    }
    @media (max-width: $mobileXSmall) {
        gap: rem(12);
        padding: rem(8);
        &__functions-right {
            align-items: flex-start;
            &-down {
                width: 100%;
                align-items: center;
            }
        }
        &__date{
            border: none;
        }
    }
    @media (max-width: $mobileSmall){
        &__image{
            height: rem(150);
        }
        &__rating-desc{
            display: none;
        }
        &__title {
            position: absolute;
            left: 30px;
            top: 40%;
            color: white;
        }
        &__info-left{
            border-bottom: 1px solid $containerBorderColor;
        }
    }
}
