@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap&subset=cyrillic-ext");

@import "mixins";
@import 'normalize.css';
@import 'reset';
@import 'variables';
@import 'icons';
@import 'scrollbar';






body {
  font-family: "Inter", "sans-serif";
  font-size: rem(20);
  background-color: $bgColor;
  &._lock {
    overflow: hidden;
    .event-categories__body {
      pointer-events: none;
    }
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 1408px;
  margin: 0 auto;
}

[class*="_hidden"] {
  display: none;
}

[class*="copyrights-pane"] {
  display: none !important;
}

[class*="inner-panes"],
[class*="map-bg"] {
  border-radius: 24px !important;
}

[class*="_bold"] {
  font-weight: 700;
}
.right-corner-logo {
  position: absolute;
  bottom: -8rem;
  right: -2rem;
  &__image {
    width: 100%;
    height: auto;
  }
  z-index: -1;
}

[class*="_img-blackout"]
{
  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    border-radius: rem(12);
  }
  &::after {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  }
  &::before {
    top: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  }
}

@import "footer";
@import "main";
@import "header";

@import "slider-card";
@import "slider";
@import "buttons";
@import "modal";
@import "profile";
@import "tickets";
@import "bonus";
@import "login";

