$bgColor: #fff9ff;
$funcButton_color: #ff5341;
$buttonColor: #820083;
$fontColor: #a43ea4;
$whiteColor: #ffffff;
$mainGradientColor: linear-gradient(90deg, #d05cfd 0%, #ff5145 100%);
$containerBorderColor: #f7e1ff;
$cardGradeintColor: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0) 0.52%, #c69cd5 100%);
$secondaryFontColor: rgba(128, 0, 128, 0.5);
$sliderButtonColor: #EB3F98;
$successColor: #00CA8D;

$categories: (
        travel: #8da0d1,
        healthAndBeauty: #ff0000,
        movie: #800080,
        sportAndFitness: #00ca8d,
        music: #0bb8ad,
        concert: #001d82,
        comedy: #ffa500,
        party: #5200ff,
        theater: #823e00,
        art: #ff6321,
);


$minWidth: 320;

$maxWidth: 1920;

$maxWidthContainer: 1408;

$containerPadding: 30;

$containerWidth: $maxWidthContainer + $containerPadding;


$pc: em($containerWidth);
$tablet: em(1091.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);
$mobileXSmall: em(339.98);
$mobileXSSmall: em(281.98);

